.comment {
  border-left: 3px solid #948f8f;
  margin-bottom: 30px;
  padding-left: 10px;
}
.comment-title {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment-name{
  color:#5750B4;
}
.comment-body {
  color:#69696b;
  font-size: 14px;
}
.comment-email {
  color:#6e9be2;
  font-size: 13px;
}
