.post {
  margin-bottom: 25px;
  padding: 20px;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.1);
}
.post-title {
  cursor: pointer;
  color: #5750b4;
  margin-bottom: 10px;
  font-size: 17px;
}
.post-body {
  color: #69696b;
  font-size: 15px;
}
.pagination {
  margin-top: 100px;
  margin-bottom: 30px;
}
.prev {
  width: 100px;
}
.prev,
.next {
  border-radius: 5px;
  border: 1px solid #69696b;
  cursor: pointer;
  background: #fcfcfc;
  color: #69696b;
  height: 30px;
  user-select: none;
}
.next {
  width: 80px;
}
.pagination-page-number {
  font-weight: 700;
  user-select: none;
}
