body,
html {
  margin: 0;
  padding: 0;
  background: #f2f3f7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  content: "";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}
.error-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.error-content div {
  font-weight: 700;
  font-size: 24px;
}
.error-content span {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
/*HELPERS*/
.flex {
  display: flex;
}
.ai-c {
  align-items: center;
}
.jc-c {
  justify-content: center;
}
.mr-20 {
  margin-right: 20px;
}
.pt-30 {
  padding-top: 30px;
}
/*MEDIA*/
@media screen and (max-width: 980px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 440px;
  }
}
